<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.flip-the-script.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>DFwzUisBFta2i4xVQcsouqe2M1zD0lBEpt+5rgQTx/s=</string>
</dict>
</plist>
